<style type="text/css">.content-img { float: right; } h1 { margin: 20px 0; }</style>

<h1>俱乐部简介</h1>
<p class="content-img">     <img src="/images/title.png" /></p>
<p> 浙江大学微软技术俱乐部（MSTC.ZJU）关注、着眼、并立足于浙大学生对编程技术的兴趣和热情，以强大的技术团队和长期稳定的品牌活动作为自身的核心竞争力，在微软亚洲研究院和浙江大学团委的指导下，致力于在浙大校园内：</p>
<ul>
<li>倡导、支持编程技术的交流，并提供全方位的服务&#8230;.<strong>Service</strong></li>
<li>积极架构程序员之间的交流和互助网络&#8230;&#8230;&#8230;&#8230;..<strong>Network</strong></li>

<li>崇尚协作与整合，建设开放和谐的技术社区&#8230;&#8230;&#8230;.<strong>Community</strong></li>
</ul>
<p>2002年7月、2004年7月和2012年7月，浙江大学微软技术俱乐部因出色的组织工作和富有创新的活动，在全国30多所高校俱乐部中脱颖而出，分别获评2001-2002，2003-2004 和 2011-2012微软技术俱乐部建设奖。2003~2004学年度，我们推出的学生实践项目，无论在数量上还是质量上，在全国各高校俱乐部中均名列前茅。2005年，浙江大学微软技术俱乐部由于推出优秀的学生实践项目，获得学生优秀实践项目组织奖。今天，浙江大学微软技术俱乐部凭借其雄厚的技术实力和各项品牌技术活动已成为浙江大学校内技术社团中的无可替代的存在；如家一样的社团文化也让社团生活成为俱乐部成员们大学中最珍贵的时光。</p>
<p>MSTC相关链接（需要内网）：</p>
<ol>
<li><a href="http://www.mstczju.org">http://www.mstczju.org</a> MSTC 主页</li>
<li><a href="http://www.cc98.org/list.asp?boardid=60">http://www.cc98.org/list.asp?boardid=60</a> CC98 MSTC版</li>
<li><a href="http://mail.mstczju.org">http://mail.mstczju.org</a> MSTC邮箱，Staff Member专用</li>
<li><a href="http://www.zju88.org/agent/board.do?name=MSTC">http://www.zju88.org/agent/board.do?name=MSTC</a> 88 MSTC版</li>
<li><a href="ftp://ftp.mstczju.org">ftp://ftp.mstczju.org</a> MSTC FTP，包括俱乐部的活动照片、历次小课堂相关的资料等</li>
<li><a href="http://page.renren.com/601252546">http://page.renren.com/601252546</a> MSTC 人人公共主页</li>
<li><a href="http://weibo.com/mstczju">http://weibo.com/mstczju</a> MSTC 新浪微博</li>
</ol>
<p class="content-img">     <img width='256px' src="/images/foundation.jpg" /></p>
<h1>俱乐部的成立</h1>

<p>2001年4月29日晚，浙江大学微软技术俱乐部在永谦活动中心举行成立大会。大会由浙江大学党委副书记童芍素主持，党委书记张浚生，副校长莱茂德和微软中国研究院副院长张宏江博士、高级研究员张正友博士、高校关系经理张高博士出席了成立大会，张浚生书记、张宏江院长分别代表浙江大学和微软中国研究院致辞并授牌成立浙江大学微软技术俱乐部。成立仪式结束后，张院长做了题为“如何做研究”的精彩报告。至此，在微软中国研究院和浙江大学校团委的大力支持下，在全体俱乐部成员的努力下，浙江大学微软技术俱乐部宣告成立。</p>
<h1>俱乐部特色活动</h1>
<h2>MSTC 小课堂</h2>
<p class="content-img">     <img width='256px' src="/images/class-booklet.png" /></p>
<p>MSTC小课堂是面向全校中低年级所有对编程技术感兴趣的同学的讲座形式的活动。每次活动会定一个技术话题作为主题，视主题的难易程度以及热门程度不同，参与人数通常由 20 人到 100 人不等，活动形式主要是由（一个或两个）主讲人围绕主题以课堂的形式为听众介绍相关知识，并可以有一定程度的互动。以前曾经有过的小课堂主题有（仅部分）：Windows 快捷键、Flying VS.net、C in Depth、Object Based Programming in C、如何减少编程复杂度、ACM 竞赛常用算法与数据结构、C++ Templates、Perl at a Glance、命令行的精彩世界、明明白白用 Word、C 语言调试技巧等，此外，也会有一些系列小课堂，通常由连续的数场小课堂组成，例如 2007 年的 Algorithm Series 和 2008 年的 Search Engine Series。<br />
除了强调技术本身以外，我们也致力于提供良好的技术交流环境：包括为参与小课堂的同学提供茶水以及调查反馈等服务。此外，大多数小课堂都会发放MSTC小册子，这是由我们的技术人员专门打造的与小课堂内容配套的阅读材料，不仅内容丰富，而且经过了精心排版和制作，具有很高的收藏价值。</p>
<h2>MSTC 技术沙龙</h2>
<p>MSTC 技术沙龙（又称“软件人沙龙”）是主要面向较高年级以及技术实力较强的同学，活动形式为：制定一个主题，并邀请一些嘉宾，可能会有一些简短的 presentation，但是最主要的部分是交流和讨论。需要每一个参与者积极发言，说出自己的想法，属于参与门槛较高的一类活动，地点通常在玉泉校区。一些讨论过的话题包括 Abacus 计划、软件开发实践、Architecture in Action、动态语言、各种语言的对象模型等。</p>
<h2>MSTC 趣味程序设计大赛</h2>

<p class="content-img">     <img src="/images/cff.png" /></p>
<p>MSTC 趣味程序设计大赛（Coding For Fun，简称 CFF）是一个致力于促进同学之间的学术交流，增强大家对编程的兴趣的比赛，同ACM程序设计竞赛中致力于算法实力的比拼不同的是，趣味程序设计竞赛更加注重参赛人员编写一个较大的程序来解决一个完整程序的能力，并且比赛题目通常具有很高的趣味性，此外，比赛形式也有所不同，趣味程序设计竞赛从比赛题目公布到最后截止通常会有数周的时间，并且通常题目并没有标准答案，可以让参赛者的才能得到充分发挥。目前 CFF 已经成功举办了 5 次，其中一些题目包括简单 CAPTCHA 的识别、源代码的重构、编程语言识别、C++ 语言变量声明自动分析、Digest 加密的分析和破解、the MSTC Quine, pacman 编程 等。</p>
<p>另外，在第四、第五届 CFF 时我们还并行举办了一个 CFF 现场赛，与难度很高的在线赛不同的是，现场赛完全是以做游戏的方式来体验编程的魅力，简单轻松的参与方式让各个专业的同学都得以加入进来。</p>
<h2>C 语言比赛</h2>
<p>C 语言比赛是由计算机学院主办的面向全校同学的大型比赛，从第三届开始由 MSTC 承办，目前第六届比赛已圆满结束。该比赛旨在营造 C 语言学习气氛，激发大家对计算机编程的激情与信心，同时提供给大家一个展示学习成果的平台，属于一个门槛较低的比赛，为了鼓励广大同学参与，题目难度设置比 ACM 程序设计竞赛要低，并且准备了大量奖品，凡是做出至少一题的同学都有奖品，并且，为了对少部分技术拔尖的同学进行“惩罚”并提高比赛的策略性，最好的奖品并不是颁发给排名最靠前的同学。</p>
<p>C 语言比赛参与人数通常在 500 人左右，第六届C语言比赛报名人更是达到了700人，数属于非常大型的活动，MSTC 作为承办方承担了包括出题、报名、比赛系统的架设、现场组织等各方面的任务。而今，C语言比赛已成为计算机学院最受欢迎的活动之一，以其丰富的趣味性吸引了全校本科生研究生踊跃的参与。</p>
<h2>POM</h2>
<p class="content-img">     <img width='256px' src="/images/pom.jfif" /></p>

<p>POM 的全称是 Priory of MSTC，这个名称来自于郇山隐修会（Priory of Sion），当时创会宗旨为：“成员教育和互助”，会员会举行定期的活动以达到教育与互助的目的。本活动以此为典，旨在推动优秀技术人才之间的深入、广泛交流，在技术圈内构建起个人人脉网络，更大程度的实现自身发展。</p>
<p>这是仅对社团内部成员和邀请嘉宾开放的交流活动，经过逐步改进，目前活动形式已基本固定，活动频率（在无其他大型活动的时候）为二到三周一次，地点通常在紫金港四楼茶吧，时间为周六下午14:37，形式比较自由，通常会由一到二个主题，有时候会有主题发起人做一个简短的 presentation，以激发大家的交流和讨论。</p>
<p>同技术沙龙不同的是，POM 的形式更加随意，并且交流的主题不限于计算机技术，甚至不限于技术，讨论过的话题包括 Aspect Oriented Programming、佛教、美国建国史、动漫、诗词、经济学、ASCII 艺术、人工智能等。</p>
<h2>GIP</h2>
<p class="content-img">     <img src="/images/gip.png" /></p>
<p>GIP (Ghost Instrumentality Program) 名字来源于 Neon Genesis Evangelion中的 Human Instrumentality Project (人類補完計画; 人类补完计划)，其中 Ghost 一词来源于 Ghost in the Shell (攻殻機動隊, Kōkaku Kidōtai, literally &#8220;Mobile Armored Riot Police&#8221;) ，大意为将完整的人分为 Ghost（比喻为灵魂）和 Shell （比喻为躯体）两部分。</p>
<p>GIP的活动形式类似于读书会，是一个仅对俱乐部 Staff 开放的活动，旨在促进知识共享和交流，并锻炼Staff们以清晰的思路思考问题以及 presentation 的能力。活动以一本书为单位，选定书籍之后进行报名，之后将书籍分配到参与的 Staff （通常以章为单位），大家定期聚到一起进行交流。交流的形式是以讲述为主，讨论为辅，被分配到该章节的 Staff 需要提前阅读该章的内容并准备相应的 presentation 材料。</p>

<p>除去考试周以及大型节假日之外，GIP 正常活动周期是每周一次，时间通常是周六早上10:00，活动地点为玉泉永谦B004（俱乐部办公室）。从 2008 年 9 月发起到目前为止 GIP 已接近 50 次，取得了良好的效果，并且积累了大量有价值的资料（包括每次报告的 slides 以及主讲人搜集的相关资料）。GIP 第一次读的书是《Introduction to Information Retrieval》，第二次 O’Reilly 的《Beautiful Code》，第三次是 《CLR via C#》，目前(2010.09)正在阅读的是讲并行编程的一本 《The Art of Concurrency》。</p>
<h2>ZJG-Talk</h2>
<p>ZJG-Talk 于11年开始，是以提高staff们基础技术为目的的内部交流活动，一般于周日（或周六）下午紫云二舍举行。该项活动还待发展，现计划将于社团内建立一互动网站，staff 们可以把想了解或者想分享的内容发表在网站上，最后以投票的形式确定每期内容，并以 "topic 领取" 的方式确定主讲人。届时会有玉泉高年级同学和 ZJG 有基础的小牛们作为小讲师为大家普及计算机知识。</p>
<h2>其他技术活动</h2>
<ul>
<li>微软亚洲研究院校园行：一年一度的微软校园行盛会，由微软亚洲研究院的代表团访问各大高校进行巡回演讲，活动由该校所在微软技术俱乐部承办。</li>
<li>实践项目计划：由微软亚洲研究院发起，面向全国各高校微软技术俱乐部会员的长期性项目，由俱乐部会员自由组队，本校俱乐部管理，申请时间不限，在微软高校信息交流中心（MSCENTER：<a href="http://www.mscenter.edu.cn">http://www.mscenter.edu.cn</a>）上统一评估，微软亚洲研究院将对通过的软件项目给予各方面的支持：包括资金、专家的指导、软件、书籍等更多的机会。“项目实践计划”旨在鼓励同学设计明确的实践主题，通过项目研讨和实施过程，体验团队合作、项目管理，学习和掌握先进的软件开发技术及方法。</li>
<li>编程之美编程大赛：编程之美全国挑战赛是微软亚太研发集团面向全国高校开展的大型编程比赛。初赛前60强可到北京参加为期三天的全国总决赛，同微软“编程之美”团队华山论剑软件工程。大赛自4月11日2012正式启动，优胜者将有机会到微软西雅图总部参观</li>
<li>PBM (Powered By MSTC)：为学校论坛（飘渺水云间、cc98）的技术版面的版聚和其它相关活动（读书会、技术沙龙、论坛、小型比赛等）提供组织、场地、设备、经费以及后勤等的支持。由于近年来论坛技术区人气逐年下降，PBM已比较少见。</li>
<li>MCP (MSTC Challenge Platform)：是俱乐部较早期的一个活动，由俱乐部提供平台，参赛队员编写简单的智能程序互相比拼，是一个趣味性的比赛。由于Challenge Platform后来没有继续维护，这个活动已经停滞了很久。不过官方并没有排除有一天会有MCP II复活的可能性。</li>
</ul>
<h2>文化活动</h2>

<p>作为一个技术社团，技术是我们的核心价值，然而作为一个大家庭，各类文化活动也是我们的亮点：</p>
<ul>
<li>新年 Party：一年一度的新年晚会，是俱乐部最快乐的时光，在这里许下你的新年愿望吧，俱乐部将见证你的成长。每年颁发的各种奖项也是很值得期待的哦！拿到“终身苦力奖”可是至高无上的光荣啊！:D</li>
<li>周年庆：俱乐部的生日，5 周年的 party 和 7 周年的舞会，你怎么可以错过各种围观各种前前前前前前……前主席和各种骨灰级老人的机会？</li>
<li>微软夏令营：每年夏天（特殊情况如奥运会除外），俱乐部会有 4 名 Staff 获得机会去北京参加由微软亚洲研究院精心为大家准备的夏令营，将会是终身难忘的一次经历哦！</li>
<li>月刊：月刊Tech Cool是最近新发起的一个项目，创刊号的发布引起海内外（没有夸张哦）新老Staff的强烈反响。</li>
<li>纳新宣讲会、纳新、破冰：俱乐部吸纳新成员的时间，每个长学期开学初俱乐部最忙碌的时节。MSTC 的成长一直都需要你们的支持和帮助，如果你有意向要加入我们，一定不要错过哦！</li>
<li>各种 FB，各种 BG：如果你还不明白 FB、BG 是什么意思的话，那么只好先 wave 了，我们吃完会通知你的！:D 不过，有一点请一定注意：MSTC的活动拒绝酒精。</li>
<li>毅行：每年毅行MSTC都会组队参加，后来毅行取消以后俱乐部也会在节假日自行组织一些小规模的爬山或远足活动，比如“法喜寺斋饭之旅”、“龙井九溪之旅”等。</li>

<li>灌水：好吧！不得不承认，MSTC版大部分时候都是社团区最水的一个版块，不管怎么说，灌水是互相了解的一个有效途径，也是交流的一个重要方式。在这里，你将会看到，灌水不仅可以是一门艺术，而且还可以是一项技术！大水库、吃饭楼、晚安楼、做梦楼一应俱全；顶帖机、转帖机、发米机、扔臭鸡蛋机、删帖机大乱斗啦！</li>
<li>其他活动：除了各种例行文化活动，俱乐部还有许多不定期的节目，例如毕业老人欢送会、中秋赏月、 春游、灵峰探梅、爬山、整理办公室、野战、K歌、乒乓球、烧烤等等等等。</li>
</ul>
<a name='groups'></a>
<h1>俱乐部工作团队</h1>
<p>俱乐部团队分为四个 Group，分别是 TG、CG、OG、和 PG，各有特色和工作重点，实际工作由各个 Group 协作完成。</p>
<h2>TG</h2>
<p>俱乐部技术团队TG，全称为 Technology Group，虽然说 Technology 是 Floating Cloud，但是这些浮云真是我们的核心价值所在。TG 的任务是为俱乐部运作提供技术支持，营造积极的技术圈氛围。技术支持的范围很广，包括对内的信息维护处理、技术交流以及对外的技术输出等各个方面，其中俱乐部的众多品牌技术活动的建立和发展是 TG Member 工作的重中之重。</p>
<p>MSTC欢迎每一位 Staff 提出自己的想法，组织自己的技术活动，只要任何 Staff 对某种技术的学习、分享有热情，可以尝试呼唤其他同样感兴趣的 Staff 一同参与进来。发起的活动可以是一起做项目、一起学习某种技术、一起交流某类经验等等。发起人要承担起组织安排这个小组活动的任务，而 TG 的工作就在于为这些小组活动提供各种技术资源、提供平台，让俱乐部的 Staff 总能有机会做有热情的有技术的事情。</p>
<p>在 TG 里会得到最直接地和各种大牛交流甚至一起共事的机会，然而，需要说明的是，这并不是一个专门针对个人提高而设立的团队，固然 Staff 在这里会得到锻炼，但是工作的重点依然是输出——凭借自己的一份力量（不管是技术、想法、潜力或者热情）为俱乐部的技术发展而努力。如果你仅仅是为了能学到一点技术，那么可能这里并不适合你；不过大多数人最后都会发现其实自己在这里得到的锻炼和经历远比自己期望中能学到的东西多很多。</p>
<h2>CG</h2>
<p>CG 全称为 Culture Group，顾名思义，他们的任务是推广多元的俱乐部文化，为俱乐部营造温馨和谐的氛围。CG 的强大之处是大家有目共睹的，除了为我们大家带来丰富多彩的文化活动之外，即使在俱乐部最困难的时期，CG 依然是最有活力的一个团队，并且，偷偷地说：CG 出身的人除了 CG Leader 之外，还做过 TG Leader、PG Leader、OG Leader、Campus Leader 以及 President，一个都没有落下！</p>
<h2>OG</h2>
<p>OG 全称为 Operation Group，负责俱乐部的日常运作，最广为人知的工作是财务管理，OG Leader 通常又被称为“财神”，除此之外，OG 还负责俱乐部行政管理、会员管理、文档管理以及绩效评估等，如果要问除了 President 之外还有谁对俱乐部的方方面面最了解，那个人必然存在于 OG 了。</p>
<h2>PG</h2>
<p>PG 全称为 Public Group，旨在扩大 MSTC 在校内校外的知名度及影响力，通过对活动的宣传与报道，让更多人了解 MSTC 并参与到 MSTC 的活动中来。江湖传言TG最难进，其实 PG 才是要求最高的一个Group，Group Member 个个身怀绝技，支撑着整个俱乐部的对外影响力。</p>
<h1>俱乐部架构</h1>
<p>俱乐部管理层从上往下依次为：</p>

<ul>
<li>President：负责总体协调俱乐部的工作、与微软亚洲研究院沟通与联络、代表俱乐部与其它兄弟院校俱乐部以及校内其他俱乐部进行交流与合作。</li>
<li>Campus Leader：紫金港和玉泉各设一个，负责在校区内协调 President 的工作。</li>
<li>Group Leader：每个 Group 各设一名 Leader，负责带领 Group Member 完成各 Group 的工作以及 Member 的沟通和培养。在特殊情况下（例如大规模校区搬迁导致管理团队集体迁移，跨校区行动不方便）可能会在两个校区分别设立 Group Leader。</li>
</ul>
<p>此外，俱乐部实行 PM (Project Manager) 制度，每个活动会指定一名 PM（如果是新人，还会指定一位Mentor），PM 在活动范围内是凌驾于 President 之上的，拥有活动的最终决定权。</p>
<p>不过，虽然结构清楚，但是俱乐部实际运作中 Group 之间的界限以及上下级关系并不是特别明显， 而更多的是以一种“家文化”在运作，不能说这是最有效的做活动的方式，然而这确实是俱乐部多年来一直保持的氛围，而且，真的很温馨。</p>
<p>各个职位每年会有一次换届，关于新的管理团队是如何产生的，并没有统一的说法，每年会根据当时的情况调整合适的办法，也会进行一些尝试，不过目前并没有应该也不大可能会有那种非常正式的公选的程序，但是，如果任何人有意见，是可以提出来讨论的。再次强调家文化和 PM  制度，一个职位说拥有的能量其实很大程度上决定于你自己，并且，任何时候如果有什么想法，提出来，如果是可行的方案，自己作为 PM，大家会配合你，这样的例子有很多，例如 GIP 就是这样诞生的，月刊也是；另一方面，即使失败了，也没有什么关系，例如之前的实践项目 MCP II，在俱乐部里失败，是可以以最小的代价来得到一个真切的失败教训的。</p>
<p>除此之外，俱乐部还有一些其他职位，包括</p>
<ul>

<li>实践项目负责人：负责实践项目相关的事情。</li>
<li>MSRA联络员：负责与 MSRA 联系，包括 newsletter 和 mscenter 供稿等。</li>
<li>人才助力项目负责人：负责 MSRA 的人才助力项目，大部分时间要转发许多实习职位信息等，有点体力。</li>
<li>财务负责人：与 MSRA 进行财务沟通，通常由 OG Leader 兼任。</li>
<li>包裹接收人：MSRA 寄过来的海报、材料、书、文化衫等各种物品的目的地和接收人，需要能搬得动包裹的年轻力壮的 Staff 来担任。:D</li>
</ul>
<p>俱乐部会员统称为 Staff，又称“士大夫”或者“Stuff”（参见某典故），活跃 Staff 通常维持在50人以内。除了普通 Staff 之外，还有一些称为 Core Member 的人，通常是由很牛很老的以被邀请的方式加入到俱乐部中来的人组成。</p>
<h1>加入我们</h1>
<p>MSTC主要以三种方式吸纳新成员：</p>

<ol>
<li>如果你实在是牛得不行了，并且可以和我们的团队很合得来，那么我们有可能会邀请你以Core Member的身份加入。</li>
<li>如果你和俱乐部的某个Staff很熟，时常来蹭我们的活动，并且和我们很合得来，可以在任何时候以“MSTC蛋”的形式，由该Staff推荐，由我们临时组织非正式的面试的方式审核通过，最后正式成为我们的一员。</li>
<li>通过正式纳新流程加入。</li>
</ol>
<p class="content-img">     <img width='256px' src="/images/welcome.png" /></p>
<p>我们通常在每个长学期开学初会组织较大规模的纳新宣讲会，并接收纳新报名表，通过对报名表进行初审选出面试名单，通过面试之后即可正式成为我们的一员。更具体的流程需要视纳新当时的情况而定。面试通常是每人10分钟，三名面试官、一名记录和一名专职发糖员。</p>
<p>我们的纳新面向全校同学，非常欢迎并期待志同道合的人加入：</p>
<ul>
<li>关于<strong>专业</strong>：没有任何限制或偏好，欢迎各个专业的新朋友，我们的团队构成大约有 2/3 是计算机相关专业，1/3 是其他专业，包括社科、英语、化学、城市规划、工商管理、数学等。</li>

<li>关于<strong>年级</strong>：我们对新成员的年级也没有任何限制，我们目前的团队从大一到研二都有，不过，在审核时我们通常会对年级越高的同学要求更高一些。</li>
<li>关于纳新<strong>人数</strong>：我们通常没有一个严格的人数指标，具体要视当时的情况和面试的情况而定，可以以往年的纳新结果作为一定的参考。</li>
</ul>
<!-- p>在下决定之前，不妨先问自己两个问题：</p>
<ol>
<li>为什么要来MSTC？或者说你期望MSTC给你带来什么？</li>
<li>来MSTC做什么？或者说你认为你将会给MSTC带来什么？</li -->
</ol>
