/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */
.message {
  margin-left: 10px;
  background-color: #faa;
  border: 1px solid red;
}

div.field_with_errors div.ui-effects-wrapper {
  padding: 0px;
  margin: 0px;
  display: inline-block !important;
}

.tip {
  color: #777;
}


#form_container {
  background: #fefefe;
  margin: 40px auto;
  padding: 20px 40px;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
  text-align: left;
  width: 640px;
}

textarea {
  height: 8em;
  width: 80%;
}

.block {
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 0px 2px;
}

.splitter {
  color: #ddd;
}

.male {
  background-color:#729FCF;
  color: white;
}

.female {
  background-color:#AD7FA8;
  color: white;
}

.spam {
  background-color:#ddd;
  color: white;
}

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

h3 { padding: 2px; margin: 2px 0px; }
