body {
  background-color: #eee;
  color: #333;
  font-family: 微软雅黑, Microsoft YaHei, SimSun, Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 6px;
  margin: 0px 0px 2px;
  overflow: auto;
  font-size: 13px;
  &.comments {
    background: #FFF6BF;
  }
  &.wrap {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */ } }

a {
  color: #0C7823;
  &:visited {
    color: #0C7823; }
  &:hover {
    color: #fff;
    background-color:#0C7823; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 0px;
  margin: 0px;
  color: red; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
